/* 用户自定义的 CSS 样式代码 */

/* Universal */

body {
  padding-top: 84px;
  font-size: 14px;
  font-weight: normal;
  color: #323232;
  letter-spacing: .2px;
}

body.body-bg-gray {
  background-color: #ECEFF1;
}

a {
  color: #1976D2;
}

a:hover,
a:focus {
  color: #1976D2;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

svg.icon-gray {
  color: #9E9E9E;
}

svg.icon-gray-active {
  color: #616161;
}

svg.icon-red {
  color: #EF5350;
}

svg.icon-blue {
  color: #29B6F6;
}

svg.icon-green {
  color: #66BB6A;
}

svg.icon-yellow {
  color: #FFCA28;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.6em;
  margin-bottom: 15px;
}

h1 {
  font-size: 2.4em;
  font-weight: 500;
  margin-bottom: 46px;
}

h1.home-intro {
  font-size: 2.2em;
  margin: 30px 0;
}

h2 {
  font-size: 1.8em;
  font-weight: 500;
  margin-top: 35px;
  margin-bottom: 25px;
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 20px;
}

h4 {
  font-size: 1.3em;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 20px;
}

h4.panel-h {
  font-size: 1.4em;
  font-weight: 400;
  margin: 15px 0;
}

h4.msg-no-item {
  font-size: 1.4em;
  font-weight: 400;
  color: #BDBDBD;
}

h5 {
  font-size: 16px;
  font-weight: 500;
  margin-top: 15px;
}

h6 {
  font-size: 14px;
  font-weight: 500;
  margin-top: 15px;
}

p {
  line-height: 1.8em;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
}

article {
  font-size: 16px;
}

.small-p {
  font-size: 14px;
}

.pb-0 {
  margin-bottom: 0;
}

.light-h {
  font-weight: 400;
}

.xlight-h {
  font-weight: 300;
}

.border-h {
  padding-bottom: 10px;
  border-bottom: 1px solid #E0E0E0;
}

.top-h {
  margin-top: 0;
}

.gray-h {
  color: #9E9E9E;
}

.color-h {
  color: #1976D2;
}

.gray-p {
  color: #757575;
}

.deep-gray-p {
  color: #616161;
}

.bold-5 {
  font-weight: 500;
}

.bold-6 {
  font-weight: 600;
}

label {
  font-size: 14px;
  font-weight: 400;
}

/* Header */

.navbar-inverse .navbar-brand {
  color: rgba(255, 255, 255, 1);
}

.navbar-brand {
  font-weight: 500;
}

.navbar-nav>li>a {
  font-size: 16px;
}

.navbar-inverse .navbar-nav>li>a {
  color: rgba(255, 255, 255, 0.85);
}

.navbar-nav>li>a {
  font-weight: 600;
}

.dropdown-header {
  font-size: 14px;
  font-weight: 600;
  color: #9E9E9E;
}

.dropdown-menu li a {
  font-size: 14px;
  font-weight: 500;
  color: #616161;
}

.navbar-inverse .navbar-form button {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.25);
}

.navbar-nav a.navbar-avatar {
  padding-top: 18px;
  padding-bottom: 18px;
}

.navbar-nav img.navbar-avatar {
  border: 1px solid #fff;
}

input.navbar-search {
  width: 256px !important;
  font-weight: 500 !important;
}

/* Footer */

footer {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid #EEEEEE;
  text-align: center;
  color: #757575;
}

/* Components */

input,
select,
option,
textarea,
button,
span {
  outline: none !important;
}

.btn {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  font-weight: 600;
  font-size: 14px;
}

.btn-default {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25), 0 0 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.btn-waring {
  color: #323232;
  background-color: #FFCA28;
}

.btn-danger {
  background-color: #EF5350;
}

.btn-link {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #757575;
}

.badge {
  font-weight: 600 !important;
  color: #616161;
  background-color: #E0E0E0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.active .badge {
  color: #fff;
  background-color: #008FF7;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn-default .badge {
  color: #fff;
  background-color: #008FF7 !important;
}

.panel {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.panel-heading {
  padding: 10px 20px;
}

.panel-body {
  font-size: 16px;
  padding: 20px 20px;
}

.nav {
  font-size: 15px;
  font-weight: 500;
}

.alert {
  font-weight: 500;
}

.alert-success {
  background-color: #66BB6A;
}

.alert-info {
  background-color: #42A5F5;
}

.alert-warning {
  color: #323232;
  background-color: #FFCA28;
}

.alert-danger {
  background-color: #EF5350;
}

.text-danger {
  color: #EF5350;
}

.pagination {
  font-weight: 500;
}

ul.nav-tabs {
  border-bottom: 1px solid #DDDDDD;
}

ul.nav-tabs li {
  font-weight: 600;
}

.list-group .list-group-item {
  font-weight: 500;
}

hr {
  border-top: 1px solid #E0E0E0;
}

.modal-header {
  padding: 20px;
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  padding: 20px;
}

/* Home 首页 */

.jumbotron {
  background: url('/storage/pages/home/zhisuo_home_jumbotron.jpeg') no-repeat;
  background-size: cover;
  background-color: #BDBDBD;
  /* border-radius: 5px !important; */
  text-align: center;
  vertical-align: middle;
  margin-bottom: 120px;
  padding: 80px 0;
}

.jumbotron h1, .jumbotron h2 {
  color: #fff;
}

.jumbotron h1 {
  margin: 24px 0 35px 0;
}

.jumbotron h2 {
  font-size: 2em;
  font-weight: 600;
  margin: 35px 0 55px 0;
}

.home-intro-row {
  margin: 60px 0;
}

.home-intro-row p {
  color: #616161;
  line-height: 2em;
  margin-bottom: 30px;
}

.home-intro-row embed {
  width: auto;
  height: 170px;
  margin: 35px auto;
}

.home-left {
  /* position: fixed;
  top: 84px; */
  padding-right: 40px;
}

h3.repo-category-head {
  margin: 15px 0;
}

.home-panel .panel-heading {
  padding: 10px 15px;
}

.home-panel .panel-body {
  padding: 20px 15px;
}

.category-wall .form-category-select {
  display: inline-block !important;
}

.category-wall .btn-category {
  background-color: #EEEEEE;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #616161;
  margin: 0 5px 10px 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.category-wall .btn-category:hover {
  color: #1976D2;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.home-btn-row {
  margin: 20px 0;
}

.search-header {
  margin: 20px 0;
}

.search-header .btn {
  position: relative;
  top: -2px;
  left: 0;
  margin-right: 20px;
}

.search-header h2 {
  margin-top: 0;
}

/* 首页图片轮播 */

#home-carousel {
  margin: 0 0 50px 0;
}

.slick-list {
  border-radius: 5px;
}

.carousel-item{
  text-align: center;
}

.carousel-item img {
  width: 100%;
}

.slick-prev, .slick-next {
  font-size: 16px;
  color: rgba(255,255,255,0.5);
}

.slick-dots li button:before {
  opacity: 0.5;
  color: #9E9E9E;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
  color: #9E9E9E;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #008FF7;
}

/* Users Edit 设置页 */

.user-setting-panel .panel-body {
  padding: 40px 60px 40px 60px;
}

/* Users Show 用户个人主页 */

.user-profile {
  padding-right: 40px;
}

.user-social {
  margin: 46px 0 46px 0;
}

button.user-social-btn {
  width: 40%;
}

.repo-flow-order {
  color: #616161;
  margin: 15px 0;
}

.repo-flow-item {
  margin: 0;
  padding: 20px 0;
  border-top: 1px solid #E0E0E0;
}

.flow-top-row {
  margin-top: -4px;
  margin-bottom: 1px;
  vertical-align: middle;
}

.flow-top-row-no-avatar {
  margin-bottom: 10px;
  vertical-align: middle;
}

.flow-user-name {
  font-size: 16px;
  font-weight: 500;
}

.flow-timestamp {
  color: #757575;
  vertical-align: middle;
  margin-top: 3px;
}

.flow-repo-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.flow-repo-title a {
  color: #323232;
}

.flow-repo-title a:hover {
  color: #1976D2 !important;
}

.flow-repo-description p {
  margin: 0;
  margin-bottom: 10px;
}

.user-flow-item {
  margin: 0;
  padding: 20px 0;
  border-top: 1px solid #E0E0E0;
}

.flow-user-bio {
  margin-top: 3px;
  margin-bottom: -3px;
}

.flow-follow-btn {
  position: relative;
  margin-top: 9.5px;
  margin-right: 2px;
}

/* Users Index 用户列表页 */

form.delete-user {
  display: inline;
}

button.delete-user {
  position: relative;
  right: 0;
}

/* Repo Create 创建知识清单页 */

.repo-create-left {
  padding-right: 35px;
}

/* Repo Show 知识清单详情页 */

.star-btn {
  position: relative;
  margin-top: 7px;
}

a.repo-title {
  color: #323232;
}

a:hover.repo-title {
  color: #1976D2;
}

h2.repo-title {
  padding-right: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

p.repo-author {
  font-weight: 500;
}

span.is-private {
  color: #757575;
  margin-left: 15px;
}

.repo-category button {
  color: #616161;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.repo-category button:hover {
  color: #1976D2;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.repo-tags-form {
  display: inline-block !important;
}

.btn-tag {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #616161 !important;
  background-color: #EEEEEE;
  font-weight: 500;
  margin: 0 5px 0 0;
}

.btn-tag:hover {
  color: #1976D2 !important;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.repo-created-at {
  color: #757575;
}

.repo-copyright {
  color: #757575;
  font-weight: 500;
}

.revision-time {
  color: #757575 !important;
}

/* Search 搜索结果页 */

h3.search-result {
  margin: 0;
  padding-top: 5px;
}

/* Notifications 通知与私信页 */

.msg-delete-form {
  display: inline-block !important;
}

.msg-delete-form button {
  color: #E57373 !important;
  font-size: inherit !important;
  background-color: transparent;
  border: none;
  padding: 0;
}

.msg-delete-form button:hover {
  color: #EF5350 !important;
}

/* Taggle.js */

span.taggle_placeholder {
  top: 12px;
  left: 16px;
  font-size: 16px;
}

input.taggle_input {
  width: 0;
  border: none;
  margin-top: 3px;
}

.textarea.input {
  padding-bottom: 0;
  min-height: 53px;
}

.taggle_list li {
  margin-bottom: 8px;
}

ul.taggle_list {
  margin: 0;
}

.taggle_list .taggle .close {
  top: 2px;
  right: 5px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #EF5350;
}

.taggle_list .taggle .close:hover {
  top: 2px;
  right: 5px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #EF5350;
}
