/* 用户自定义的 CSS 样式代码 */

/* Universal */

body {
  padding-top: 84px;
  font-size: 14px;
  font-weight: normal;
  color: #323232;
  letter-spacing: .2px;
}

a {
  color: #1976D2;
}

a:hover,
a:focus {
  color: #1976D2;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

svg.icon-gray {
  color: #9E9E9E;
}

svg.icon-gray-active {
  color: #616161;
}

svg.icon-red {
  color: #EF5350;
}

svg.icon-blue {
  color: #29B6F6;
}

svg.icon-green {
  color: #66BB6A;
}

svg.icon-yellow {
  color: #FFCA28;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.6em;
  margin-bottom: 15px;
}

h1 {
  font-size: 2.4em;
  font-weight: 500;
  margin-bottom: 46px;
}

h2 {
  font-size: 1.8em;
  font-weight: 500;
  margin-top: 35px;
  margin-bottom: 25px;
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 20px;
}

h4 {
  font-size: 1.3em;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 20px;
}

h4.panel-h {
  font-size: 1.4em;
  font-weight: 400;
  margin: 15px 0;
}

h4.msg-no-item {
  font-size: 1.4em;
  font-weight: 400;
  color: #BDBDBD;
}

h5 {
  font-size: 16px;
  font-weight: 500;
  margin-top: 15px;
}

h6 {
  font-size: 14px;
  font-weight: 500;
  margin-top: 15px;
}

p {
  line-height: 1.8em;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
}

article {
  font-size: 16px;
}

.small-p {
  font-size: 14px;
}

.light-h {
  font-weight: 400;
}

.border-h {
  padding-bottom: 10px;
  border-bottom: 1px solid #E0E0E0;
}

.top-h {
  margin-top: 0;
}

.gray-h {
  color: #9E9E9E;
}

.color-h {
  color: #1976D2;
}

label {
  font-size: 14px;
  font-weight: 400;
}

/* Header */

.navbar-inverse .navbar-brand {
  color: rgba(255, 255, 255, 1);
}

.navbar-brand {
  font-weight: 500;
}

.navbar-nav>li>a {
  font-size: 16px;
}

.navbar-inverse .navbar-nav>li>a {
  color: rgba(255, 255, 255, 0.85);
}

.navbar-nav>li>a {
  font-weight: 600;
}

.dropdown-header {
  font-size: 14px;
  font-weight: 600;
  color: #9E9E9E;
}

.dropdown-menu li a {
  font-size: 14px;
  font-weight: 500;
  color: #616161;
}

.navbar-inverse .navbar-form button {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.25);
}

.navbar-nav a.navbar-avatar {
  padding-top: 18px;
  padding-bottom: 18px;
}

.navbar-nav img.navbar-avatar {
  border: 1px solid #fff;
}

input.navbar-search {
  width: 256px !important;
  font-weight: 500 !important;
}

/* Footer */

footer {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid #EEEEEE;
  text-align: center;
  color: #757575;
}

/* Components */

input,
select,
option,
textarea,
button {
  outline: none !important;
}

.btn {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  font-weight: 600;
  font-size: 14px;
}

.btn-default {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25), 0 0 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.btn-waring {
  background-color: #FFF176;
}

.btn-danger {
  background-color: #EF5350;
}

.btn-link {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #757575;
}

.badge {
  font-weight: 600 !important;
  color: #616161;
  background-color: #E0E0E0;
  transition: 0.2s;
}

.active .badge {
  color: #fff;
  background-color: #008FF7;
  transition: 0.2s;
}

.btn-default .badge {
  color: #fff;
  background-color: #008FF7 !important;
}

.panel {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.panel-heading {
  padding: 10px 20px;
}

.panel-body {
  font-size: 16px;
  padding: 20px 20px;
}

.nav {
  font-size: 15px;
  font-weight: 500;
}

.alert {
  font-weight: 500;
}

.alert-success {
  background-color: #66BB6A;
}

.alert-info {
  background-color: #42A5F5;
}

.alert-warning {
  background-color: #FFC107;
}

.alert-danger {
  background-color: #EF5350;
}

.text-danger {
  color: #EF5350;
}

.pagination {
  font-weight: 500;
}

ul.nav-tabs {
  border-bottom: 1px solid #DDDDDD;
}

ul.nav-tabs li {
  font-weight: 600;
}

.list-group .list-group-item {
  font-weight: 500;
}

/* Home 首页 */

.jumbotron {
  text-align: center;
  padding: 50px 50px;
}

.jumbotron h1 {
  font-weight: 300;
}

.home-intro-row {
  margin-top: 50px;
}

.home-left {
  /* position: fixed;
  top: 84px; */
  padding-right: 40px;
}

h3.repo-category-head {
  margin: 15px 0;
}

.home-panel .panel-heading {
  padding: 10px 15px;
}

.home-panel .panel-body {
  padding: 20px 15px;
}

.category-wall .form-category-select{
  display: inline-block !important;
}

.category-wall .btn-category {
  background-color: #EEEEEE;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #616161;
  margin: 0 5px 10px 0;
}

.home-btn-row {
  margin-bottom: 20px;
}

/* Users Show 用户个人主页 */

.user-profile {
  padding-right: 40px;
}

.follow-form {
  margin: 60px auto 40px auto;
  padding-bottom: 40px;
  border-bottom: 1px solid #E0E0E0;
}

.follow-form-blank {
  margin: 30px auto 40px auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #E0E0E0;
}

.repo-flow-order {
  color: #616161;
  margin: 15px 0;
}

.repo-flow-item {
  margin: 0;
  padding: 20px 0;
  border-top: 1px solid #E0E0E0;
}

.flow-top-row {
  margin-top: -4px;
  margin-bottom: 1px;
  vertical-align: middle;
}

.flow-top-row-no-avatar {
  margin-bottom: 10px;
  vertical-align: middle;
}

.flow-user-name {
  font-size: 16px;
  font-weight: 500;
}

.flow-timestamp {
  color: #757575;
  vertical-align: middle;
  margin-top: 3px;
}

.flow-repo-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.flow-repo-title a {
  color: #323232;
}

.flow-repo-title a:hover {
  color: #1976D2 !important;
}

.flow-repo-description p {
  margin: 0;
}

.user-flow-item {
  margin: 0;
  padding: 20px 0;
  border-top: 1px solid #E0E0E0;
}

.flow-user-bio {
  margin-top: 3px;
  margin-bottom: -3px;
}

.flow-follow-btn {
  position: relative;
  margin-top: 9.5px;
  margin-right: 2px;
}

/* Users Index 用户列表页 */

form.delete-user {
  display: inline;
}

button.delete-user {
  position: relative;
  right: 0;
}

/* Repo Create 创建知识清单页 */

.repo-create-left {
  padding-right: 35px;
}

/* Repo Show 知识清单详情页 */

.star-btn {
  position: relative;
  margin-top: 7px;
}

a.repo-title {
  color: #323232;
}

a:hover.repo-title {
  color: #1976D2;
}

h2.repo-title {
  padding-right: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

p.repo-author {
  font-weight: 500;
}

span.is-private {
  color: #757575;
  margin-left: 15px;
}

.repo-category {
  color: #616161;
  font-size: 14px;
  font-weight: 600;
}

.btn-tag {
  background-color: #EEEEEE;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #008FF7 !important;
  font-weight: 500;
  margin: 0 5px 0 0;
}

.repo-created-at {
  color: #757575;
}

.repo-copyright {
  color: #757575;
  font-weight: 500;
}

.revision-time {
  color: #757575 !important;
}

/* Search 搜索结果页 */

h3.search-result {
  margin: 0;
  padding-top: 5px;
}
