/* 用户自定义的 CSS 样式代码 */

/* Universal */

body {
  padding-top: 84px;
  font-size: 14px;
  font-weight: normal;
  color: #323232;
  letter-spacing: .2px;
}

a {
  color: #1976D2;
}

a.btn {
  /* color: #fff; */
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

svg.icon-gray {
  color: #9E9E9E;
}

.float-right {
  float: right;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3em;
}

h1 {
  font-size: 2.4em;
  font-weight: 500;
  margin-bottom: 30px;
  /* text-align: center; */
}

h2 {
  font-size: 1.8em;
  font-weight: 500;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.4em;
  font-weight: 500;
}

p {
  line-height: 1.8em;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
}

/* Header */

.navbar-inverse .navbar-brand {
  color: rgba(255, 255, 255, 1);
}

.navbar-brand {
  font-weight: 500;
}

.navbar-nav>li>a {
  font-size: 16px;
}

.navbar-inverse .navbar-nav>li>a {
  color: rgba(255, 255, 255, 0.85);
}

.navbar-nav>li>a {
  font-weight: 600;
}

.dropdown-header {
  font-size: 14px;
  font-weight: 500;
  color: #9E9E9E;
}

.dropdown-menu li a {
  font-size: 14px;
  font-weight: 500;
  color: #616161;
}

.navbar-inverse .navbar-form button {
  box-shadow: none;
  color: #fff;
  background-color: rgba(255,255,255,0.25);
}

/* Footer */

footer {
  text-align: center;
  color: #757575;
}

/* layouts */

.home-left {
  padding-right: 40px;
}

.user-profile-left {
  padding-right: 30px;
}

/* Components */

.jumbotron {
  text-align: center;
  padding: 100px 60px;
}

.jumbotron h1 {
  font-weight: 400;
}

.btn {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  font-weight: 600;
  font-size: 14px;
}

.btn-default {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.25), 0 0 0 1px rgba(0,0,0,0.08);
}

.btn-link {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #757575;
}

.panel {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.panel-heading {
  padding: 10px 20px;
}

.panel-body {
  padding: 30px 20px;
}

.nav {
  font-size: 15px;
  font-weight: 500;
}

.alert {
  font-weight: 500;
}

.alert-success {
  background-color: #66BB6A;
}

.alert-danger {
  background-color: #EF5350;
}
