.v {
  margin: 30px 0 20px 0;
}

.v .vwrap .vheader .vinput {
  border-bottom: none !important;
}

.v .vinput {
  font-size: 16px !important;
}

div.power {
  display: none !important;
}

.v .vbtn {
  color: #323232;
  font-size: 14px !important;
  font-weight: 500;
  border-radius: 3px;
}

.v .vbtn:active, .v .vbtn:hover {
  color: #1976D2 !important;
  border-color: #1976D2 !important;
}

.v .vlist .vcard .vhead .vname {
  font-size: 14px !important;
  font-weight: 500 !important;
}

.v .vlist .vcard .vhead .vname:hover {
  color: #1976D2 !important;
}

.v .vlist .vcard .vcontent a {
  font-size: 16px !important;
  color: #1976D2 !important;
}

.v .vlist .vcard section .vfooter {
  font-size: 14px !important;
  font-weight: 500 !important;
}

.v .vlist .vcard section .vfooter .vat {
  color: #1976D2 !important;
  font-weight: 400 !important;
}

.v .vinfo .col {
  font-size: 18px !important;
  font-weight: 500 !important;
}

.v .vinfo .vcount .vnum {
  font-size: 18px !important;
}

span.vsys {
  display: none !important;
}
